@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutLatihan";
}

<h1>Video Lite</h1>
<div class="container con1">
    <div class="row">
        <div class="col border border-primary" id="column1">
            <iframe src="https://www.youtube.com/embed/SDROba_M42g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col border border-primary" id="column2">
            <iframe src="https://www.youtube.com/embed/2PkWBWhHiwE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
        <div class="col border border-primary" id="column3">
            <iframe src="https://www.youtube.com/embed/WA_V4cCZ-Bk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
    </div>
    <div class="row">
        <div class="col border border-primary" id="column4">
            <iframe src="https://www.youtube.com/embed/DQlPoqNQork" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
        <div class="col border border-primary" id="column5">
            <iframe src="https://www.youtube.com/embed/tf8oCmzpKTY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
        <div class="col border border-primary" id="column6">
            <iframe src="https://www.youtube.com/embed/t_ispmWmdjY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
    </div>
    <div class="row">
        <div class="col border border-primary" id="column7">
            <iframe class="center"src="https://www.youtube.com/embed/SDROba_M42g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
    <p>Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.</p>
    <p>Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.</p>
    <p>Sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla.</p>
</div>


