@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutLatihan";
}
@*<div class="test"></div>
    <h1 class="judul">Halo ini judul</h1>
    <h3>Tes</h3>

    <a href="">Link 1</a>
    <a href="">Link 2</a>
    <a href="">Link 3</a>
*@
<header id="head">
    <h1>Welcome</h1>
    
</header>
<input type="text" placeholder="Hello World!!!" />
<div class="pembungkus">
    <div class="satu">Satu</div>
    <div class="dua">Dua</div>
    <div class="tiga">Tiga</div>
</div>

<a href="javascript:alert('Wih! hebat bukan?')">Link 1</a>
<a href="">Link 2</a>
<script>
    @*alert("Selamat datang di tutorial belajar Javascript");*@
    function sayHello() {
        alert("Hello!");
    }
</script>
<button onclick="sayHello()">Klik Aku!</button>
