/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/
button#button {
    position: static;
    top: 0;
    margin-top: 50px;
    padding: 0;
}
.con1 {
    margin-top: 50px;
    position:static;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.navbar-expand-lg {
    position: fixed;
    width: 100%;
    z-index:999;
}
.row{
    margin:auto;
    top:50px
}
h1{
    position:relative;
    top:50px;
}

p {
    font-size: 20px;
    text-align: justify;
}
a{
    color:white;
}
li:visited {
    color: green;
}

/* mouse over link */
li:hover {
    color: hotpink;
    background-color: red;
}
.alert:hover{
    background-color: yellow;
}

/* selected link */
li:active {
    color: blue;
}
p#p1::first-letter {
    color: #ff0000;
    font-size: 200%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/**{
    margin:15px;
    border:2px solid #ddd;
    padding: 15px;
}
body{
    max-width:700px;
    margin:auto;
}
.judul {
    background-color: salmon;
}
#a p.p2{
    background-color:lightblue;
}
section#b ul li.list:nth-child(2):hover {
    background-color: lightgreen;
}*/
/*div {
    height: 250px;
    width: 250px;*/
    /*display:inline-block;*/
/*}*/
/*.satu {
    background-color: aqua;
    height: 100px;
    width: 100px;*/
    /* margin: 10px 20px 30px 40px;
    padding: 5px 10px 15px 20px;*/
    /*position:sticky;
   top:0;*/
    /*z-index: 999;
}

.dua {
    background-color: red;
    height: 100px;
    width: 100px;
    position:relative;
    top:-20px;
    left:20px;
    z-index:-25;
}
.tiga {
    background-color: lightcoral;
    height: 100px;
    width: 100px;
    position: relative;
    top: -50px;
    left: 50px;
    z-index: -50;
}

.pembungkus{
    width:500px;
    height:700px;
    border:1px solid black;
    position:relative;
}

a {
    background-color: deeppink;
    padding: 50px;
}
#head {
    background: black;
    color: white;
    height: 50px;
    padding: 25px;
}
input[type=text] {
    background: none;
    color: cyan;
    padding: 10px;
    border: 1px solid cyan;
}*/


